body {background-color: white;}
	h1   {color: white;
		font-family: optima;
		font-size: 30px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		line-height: 26.4px;
		float: left;
		}
	h2   {color: white;
		font-family: optima;
		font-size: 20px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		line-height: 26.4px;
		}
	h3   {color: white;
		font-family: optima;
		font-size: 20px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		line-height: 26.4px;
		}
	p    {color: white;}
	html,
	body,
	#viewDiv {
        padding: 0;
		margin: 0;
		height: 100%;
		width: 100%;
		}
	#main_header h3{
        padding-top: 3%;
		}
	#main_header div {
        display: inline-block;
        width:75%;
        align:left;
        text-align: center;
        /*vertical-align: middle;*/
		}
	#main_header {
		background-color: #64b5f6;
        /*white-space: nowrap;*/
        height: 70px;
        border-bottom-style: solid;
        /*overflow-x: auto;*/
        /*overflow-y: hidden;*/
		}
	#container{
        height:90vh;
        overflow: hidden;
        }
	#main_footer {
		background-color: #64b5f6;
        /*white-space: nowrap;*/
        height: 10vh;
        border-top-style:solid;
        /*overflow-x: auto;*/
        /*overflow-y: hidden;*/
		}

