body {background-color: white;}
	h1   {color: white;
		font-family: optima;
		font-size: 30px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		line-height: 26.4px;
		float: left;
		}
	h2   {color: white;
		font-family: optima;
		font-size: 20px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		line-height: 26.4px;
		}
	h3   {color: white;
		font-family: optima;
		font-size: 20px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		line-height: 26.4px;
		}
	p    {color: black;}
	table { font-family: optima;
		font-size: 25px;
		margin: 0 .6em>;
		text-align: center;
		width:100%;
		color: white;
		font-weight: 500;
		font-style: normal;
		font-variant: normal;
		line-height: 26.4px;
		}
	td, th {
    padding: 8px;
		}
	.switch {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 34px;
	}
	.switch input {display:none;}
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
		}

	.slider:before {
		position: absolute;
		content: "";
	    height: 26px;
	    width: 26px;
	    left: 4px;
	    bottom: 4px;
	    background-color: white;
	    -webkit-transition: .4s;
	    transition: .4s;
		}
		
	input:checked + .slider {
	    background-color: #B0B0B0;
		}

	input:focus + .slider {
		box-shadow: 0 0 1px #2196F3;
		}

	input:checked + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
		}
		
	html, body,
	#viewDiv {
        padding: 0;
		margin: 0;
		height: 100%;
		width: 100%;
		}
	#main_header h3{
        padding-top: 3%;
		}
	#main_header div {
        display: inline-block;
        width:75%;
        align:left;
        text-align: center;
        /*vertical-align: middle;*/
		}
	#main_header {
		background-color: #64b5f6;
        /*white-space: nowrap;*/
        height: 70px;
        border-bottom-style: solid;
        /*overflow-x: auto;*/
        /*overflow-y: hidden;*/
		}
	#container{
        height:90vh;
        overflow: hidden;
        }
	#main_footer {
		background-color: #64b5f6;
        /*white-space: nowrap;*/
        height: 10vh;
        border-top-style:solid;
        /*overflow-x: auto;*/
        /*overflow-y: hidden;*/
		}

